.App {
  height: 100vh;
  background-color: #212121;
}

h1 {
  color: #FFFFFF;
}

@media screen and (min-width: 1200px) {
  .app-container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
}
