button {
  cursor: pointer;
  font-size: inherit;
  margin: 12px;
  color: #FFF;
  background: #3280F5;
  border-radius: 8px;
  padding: 10px;
  border: none;
}

.button-container {
  padding: 8px 0px 2px 0px;
}
